{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<!-- navbar.html에 있는 문서를 가져온다. navbar는 페이지 어디에서든 볼 수있는 반복되는 페이지이므로 따로 파일로 만들어서 정리해서 코드의 양을 줄인다. -->
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">{{ article.title }}</h1>
    <p class="lead blog-description">{{ article.subtitle }}</p>
  </div>
  <div class="row">
    <!-- col을 쓸 때는 <div class="row">로 덮어준다. -->
    <div class="col-sm-8">
      <!-- col은 콜롬이고, 그다음항목에는 md sm ss 등이 있다. -->
      <div class="blog-post">
        <p> {{article.content}} </p>
      </div>
      <div>
        {% for comment in article.article_comments.all %}
          {% if comment.show == True %}
          <div class="comment-box">
            <div class="comment-username">
              {{ comment.username }}
            </div>
            <div class="comment-content">
              {{ comment.content }}
            </div>
          </div>
          {% endif %}
        {% endfor%}
      </div>
      <div class="reply-form">
        <form method="post" action="" class="form-horizontal">
          {% csrf_token %}
          <!-- 신경써야하는 보안적인 부분을 이 친구가 알아서 처리해준다. -->
          <div class="comment-input">
            <div class="form-group">
              <div class="col-sm-3">
                <input placeholder="User" class="form-control" name="username"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <input placeholder="Leave a comment" class="form-control" name="content"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-10">
                <button class="btn btn-success" type="submit">Comment</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Hashtags</h4>
        <ol class="list-unstyled">
          {% for hashtag in hashtag_list %}
          <li>#{{ hashtag.name }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="sidebar-module">
      </div>
    </div>
  </div>
</div>

{% endblock %}
